#users {
    width: 95%;
    height: 660px;
    background: brown;
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}

div {
    width: 47%;
    height: 110px;
    background: silver;
    border: 3px solid black;
    margin: 5px;
    padding-left: 15px;
    font-size: 30px;
    position: relative;

}

button {
    width: 110px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    left: 50px;
    cursor: pointer;
    background: aqua;
    border: 2px solid black;

}