.row{
    display: flex;
    column-gap: 12px;
}

.row_1{
    display: flex;
    flex-wrap: wrap;
    }

.row_1 h1{
    width: 12%;
    border: 1px solid black;
    margin: 5px;
        padding-right: 5px;
    font-size: 30px;
}