.simpson-box_2_1 div{
    height: 320px;
    background: aqua;
    margin: 3px;
    text-align: justify;
}

.picture{
    width: 120px;
    height: 209px;
    float: right;
margin-top: 30px;
}


.simpson-box_2_2 div{
    background: silver;
    margin: 3px;
}

.simpson-box_2_2 h2{
    text-align: center;
    padding-top: 10px;
}

.simpson-box_2_2 p{
    text-align: justify;
    padding: 0 10px;
}

.product-image{
    width: 200px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}
.wrap div{
    width: 18%;
    background: silver;
    margin: 3px;
}

.users-box{
    display: flex;
    flex-wrap: wrap;
}

.users-box div{
    width: 45%;
    background: silver;
    margin: 3px;

}